@model IEnumerable<PillDispenserWeb.Models.DataTypes.Medication>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PlaintextName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DosageInMg)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SideEffects)
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlaintextName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DosageInMg)
            </td>
            <td>
                @{ var text = new List<string>(); }
                @foreach (var effect in item.SideEffects)
                {
                    text.Add(effect.Text);
                }
                @Html.DisplayFor(modelItem => text)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MedicationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MedicationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MedicationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
